.header__lang-link {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 17px;
  text-decoration: none;
}
.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1280px) {
  .header__lang-link {
    font-weight: normal;

  }
}

@media screen and (max-width: 768px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}