.page {
  width: 100%;
  position: absolute;
  padding: 28px 48px;
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  color: white;
}